<tr class="phase-row">
    <td>
        <span class="phase-name" id="phase-name">{phase_name}</span>
        <table class="table-phase">
            <thead>
                <tr>
                    <th>Tên Dịch Vụ/ Thuốc</th>
                    <th>Số Lượng</th>
                    <th>Đơn vị</th>
                    <th>Đơn Giá</th>
                    <th>Tổng cộng</th>
                </tr>
            </thead>
            <tbody>
                <tr class="service-row">
                    <td id="service-drug-name">{service_name}</td>
                    <td id="service-drug-quantity">{quantity}</td>
                    <td id="service-drug-unit">{unit}</td>
                    <td id="service-drug-unit-price">{unit_price}</td>
                    <td id="service-drug-total-price">{total_price}</td>
                </tr>
            </tbody>
        </table>
    </td>
    <td class="phase-total" id="phase-total">{phase_total}</td>
    <td class="phase-total" id="refund-amount">{refund_amount}</td>
</tr>